@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  letter-spacing: 1rem;
  
}

#container{
  width: 95vw;
 height: 60vh;
 margin: 0 auto;
 background-color: whitesmoke;
 outline: 8px solid rgb(152, 166, 167);
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows:100px 50px ;
}

a {
  text-decoration: none;
  color: rgb(51, 204, 184);
  padding: 1rem;
  margin-bottom: 100px;
  text-align: center;
}


.line {
  width: 90vw;
}
.left, .right {
  width: 45vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:rgb(67, 134, 136);
  transform: skew(20deg, -15deg);
}
.right {
  color: black;
  transform: skew(0deg, 15deg);
}
.left .content {
  width: 100vw;
  text-align: center;
  transform: translate(-10vw);
}

.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-50vw);
}

.right .content2 {
  width: 100vw;
  text-align: right;
  transform: translate(-50vw);
}
span {
  display: inline-block;
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 7vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}




