@font-face {
  font-family: Moderne Sans;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/moderne_sans.woff2)
}
* {
  margin: 0;
  padding: 0;
}

body{
  background-color:  whitesmoke;
}

h1{
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 50px;
}

.one{
  width: 100px;
  padding-top: 30px;
  padding-bottom: 1px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  margin-left: 100px;
  color: #00d7c3;
  text-decoration: none!important;
}
.one a {
  color: #00d7c3;
  text-decoration: none;
}

.button-4{
background-color: transparent;
border: 2px solid #00d7c3;
border-radius: 50px;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #00d7c3;
}

.button-4:hover {
box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
border: 3px solid #a6ece5;
}


.main{
  margin-top: 210px;
  margin-left: 210px;
margin-right:200px;
}

.button-3{
background-color: transparent;
border: 2px solid #00d7c3;
border-radius: 50px;
-webkit-transition: all .15s ease-in-out;
transition: all .15s ease-in-out;
color: #00d7c3;
}
.button-3:hover {
box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
border: 3px solid #00d7c3;
}

.line {
  width: 70vw;
}
.left, .right {
  width: 35vw;
  overflow: hidden;
  display: inline-block;
}
.left {
  color:rgb(67, 134, 136);
  transform: skew(20deg, -20deg);
}
.right {
  color: rgb(77, 102, 136);
  transform: skew(0deg, 20deg);
}
.left .content {
  width: 100vw;
  text-align: center;
  transform: translate(-40vw);
}

.right .content {
  width: 100vw;
  text-align: center;
  transform: translate(-20vw);
}


span {
  display: inline-block;
  font-family: Century Schoolbook, Century Schoolbook L, Georgia, serif;
  font-size: 6vw;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out 1s;
}

.three{
  margin-top: 50px;
  margin-left: -100px;
}

.three a{
  margin-right: -100px;
}

